In [1]:
import numpy as np
import pandas as pd
from src.modules import *

In [2]:
import os

In [3]:
irs_raw_folder_path = 'data/irs_data/raw' 
irs_folder_path = 'data/irs_data/'

In [4]:
irs_raw_files = [file for file in os.listdir(irs_raw_folder_path ) if os.path.isfile(os.path.join(irs_raw_folder_path , file))]

In [5]:
# reverse the order, so the newest data is at the front of this list 
# No real need for this, but it helps with thinking about the values we're examining
# We want growth to be positive and loss to be negative to keep with the common understanding
irs_raw_files = irs_raw_files[::-1]

In [6]:
irs_raw_files # just checking...

['irs_count_2020.csv',
 'irs_count_2019.csv',
 'irs_count_2018.csv',
 'irs_count_2017.csv',
 'irs_count_2016.csv',
 'irs_count_2015.csv',
 'irs_count_2014.csv',
 'irs_count_2013.csv',
 'irs_count_2012.csv',
 'irs_count_2011.csv']

In [7]:

# Create empty list to hold tuples of filenames|dataframes
processed_irs_files = []

for i in irs_raw_files: # Call item in the file list
    file = pd.read_csv(f'{irs_raw_folder_path}/{i}', encoding='latin-1') #irs formatting requires this encoding
    file = file.drop(['STATEFIPS','AGI_STUB','COUNTYFIPS'],axis=1).reset_index(drop=True) # not used for the current analysis, but raw files are presevered for future use.
    
    # Lambda function to apply the filter line, removing all single name counties (should be agg. state data)
    filter_counties = lambda row: len(row['COUNTYNAME'].split()) >=2
    data_counties = file[file.apply(filter_counties, axis=1)]
    
    # Generate a name for each dataframe based on the filename without the file extension
    name = f'{i}' 
    name = name[:-4]+'_f' 
    
    # Assign the dataframe to the variable name
    globals()[name] = data_counties # from the documentation: 'the globals() function is a built-in function that returns a dictionary representing the current global symbol table' only half understand this, but it works (#programming)
    
    # Append both to the empty list
    processed_irs_files.append((name, data_counties))

In [13]:
processed_irs_files[1][1]

,STATE,COUNTYNAME,N1,MARS1,MARS2,MARS4,ELF,CPREP,PREP,DIR_DEP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
1,AL,Autauga County,25230,10420,10060,4180,22920,1110,11160,17750,...,280,804,5020,17681,19650,57678,19390,55080,310,2369
2,AL,Baldwin County,105840,45620,43860,13440,94720,4650,49990,65130,...,2790,8806,26050,151178,75460,238761,73100,206484,2950,32278
3,AL,Barbour County,9490,4200,2740,2400,8580,330,5980,6120,...,70,194,1500,6906,7500,23743,7420,23382,120,346
4,AL,Bibb County,8230,3300,3160,1560,7450,310,4420,5780,...,50,299,1370,6244,6630,19963,6540,19377,90,341
5,AL,Blount County,23210,8900,11250,2610,21550,800,13900,16460,...,190,405,4210,16199,18270,52554,18030,50887,280,1508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,WY,Sweetwater County,20050,9060,8310,2360,18580,570,9500,13930,...,330,867,3180,15985,16410,53061,16110,49558,410,3165
3189,WY,Teton County,14870,8680,4920,940,13510,480,8370,7190,...,1770,82093,4430,89229,9980,315287,8480,59519,1790,255606
3190,WY,Uinta County,9370,3870,4290,1000,8570,350,4600,6320,...,120,365,1570,6532,7500,26572,7360,23372,210,1977
3191,WY,Washakie County,3740,1690,1670,330,3420,120,1960,2360,...,70,553,720,2976,2850,8583,2750,7407,140,1028
3192,WY,Weston County,3150,1380,1470,260,2930,70,1900,1930,...,50,44,690,2891,2320,7162,2240,6506,90,550

In [18]:
county_name = processed_irs_files[1][1]['COUNTYNAME'].tolist()

In [29]:
irs_county = [' '.join(i.split()[:-1]) for i in county_name]

In [30]:
irs_county

['Autauga',
 'Baldwin',
 'Barbour',
 'Bibb',
 'Blount',
 'Bullock',
 'Butler',
 'Calhoun',
 'Chambers',
 'Cherokee',
 'Chilton',
 'Choctaw',
 'Clarke',
 'Clay',
 'Cleburne',
 'Coffee',
 'Colbert',
 'Conecuh',
 'Coosa',
 'Covington',
 'Crenshaw',
 'Cullman',
 'Dale',
 'Dallas',
 'DeKalb',
 'Elmore',
 'Escambia',
 'Etowah',
 'Fayette',
 'Franklin',
 'Geneva',
 'Greene',
 'Hale',
 'Henry',
 'Houston',
 'Jackson',
 'Jefferson',
 'Lamar',
 'Lauderdale',
 'Lawrence',
 'Lee',
 'Limestone',
 'Lowndes',
 'Macon',
 'Madison',
 'Marengo',
 'Marion',
 'Marshall',
 'Mobile',
 'Monroe',
 'Montgomery',
 'Morgan',
 'Perry',
 'Pickens',
 'Pike',
 'Randolph',
 'Russell',
 'St. Clair',
 'Shelby',
 'Sumter',
 'Talladega',
 'Tallapoosa',
 'Tuscaloosa',
 'Walker',
 'Washington',
 'Wilcox',
 'Winston',
 'Aleutians East',
 'Aleutians West',
 'Anchorage',
 'Bethel Census',
 'Bristol Bay',
 'Chugach Census',
 'Copper River Census',
 'Denali',
 'Dillingham Census',
 'Fairbanks North',
 'Haines',
 'Hoonah-Angoon',
 'Juneau City and',
 'Kenai Peninsula',
 'Ketchikan Gateway',
 'Kodiak Island',
 'Kusilvak Census',
 'Lake and Peninsula',
 'Matanuska-Susitna',
 'Nome Census',
 'North Slope',
 'Northwest Arctic',
 'Petersburg Census',
 'Prince of',
 'Sitka City and',
 'Skagway',
 'Southeast',
 'Wrangell City and',
 'Yakutat City and',
 'Yukon-Koyukuk',
 'Apache',
 'Cochise',
 'Coconino',
 'Gila',
 'Graham',
 'Greenlee',
 'La Paz',
 'Maricopa',
 'Mohave',
 'Navajo',
 'Pima',
 'Pinal',
 'Santa Cruz',
 'Yavapai',
 'Yuma',
 'Arkansas',
 'Ashley',
 'Baxter',
 'Benton',
 'Boone',
 'Bradley',
 'Calhoun',
 'Carroll',
 'Chicot',
 'Clark',
 'Clay',
 'Cleburne',
 'Cleveland',
 'Columbia',
 'Conway',
 'Craighead',
 'Crawford',
 'Crittenden',
 'Cross',
 'Dallas',
 'Desha',
 'Drew',
 'Faulkner',
 'Franklin',
 'Fulton',
 'Garland',
 'Grant',
 'Greene',
 'Hempstead',
 'Hot Spring',
 'Howard',
 'Independence',
 'Izard',
 'Jackson',
 'Jefferson',
 'Johnson',
 'Lafayette',
 'Lawrence',
 'Lee',
 'Lincoln',
 'Little River',
 'Logan',
 'Lonoke',
 'Madison',
 'Marion',
 'Miller',
 'Mississippi',
 'Monroe',
 'Montgomery',
 'Nevada',
 'Newton',
 'Ouachita',
 'Perry',
 'Phillips',
 'Pike',
 'Poinsett',
 'Polk',
 'Pope',
 'Prairie',
 'Pulaski',
 'Randolph',
 'St. Francis',
 'Saline',
 'Scott',
 'Searcy',
 'Sebastian',
 'Sevier',
 'Sharp',
 'Stone',
 'Union',
 'Van Buren',
 'Washington',
 'White',
 'Woodruff',
 'Yell',
 'Alameda',
 'Alpine',
 'Amador',
 'Butte',
 'Calaveras',
 'Colusa',
 'Contra Costa',
 'Del Norte',
 'El Dorado',
 'Fresno',
 'Glenn',
 'Humboldt',
 'Imperial',
 'Inyo',
 'Kern',
 'Kings',
 'Lake',
 'Lassen',
 'Los Angeles',
 'Madera',
 'Marin',
 'Mariposa',
 'Mendocino',
 'Merced',
 'Modoc',
 'Mono',
 'Monterey',
 'Napa',
 'Nevada',
 'Orange',
 'Placer',
 'Plumas',
 'Riverside',
 'Sacramento',
 'San Benito',
 'San Bernardino',
 'San Diego',
 'San Francisco',
 'San Joaquin',
 'San Luis Obispo',
 'San Mateo',
 'Santa Barbara',
 'Santa Clara',
 'Santa Cruz',
 'Shasta',
 'Sierra',
 'Siskiyou',
 'Solano',
 'Sonoma',
 'Stanislaus',
 'Sutter',
 'Tehama',
 'Trinity',
 'Tulare',
 'Tuolumne',
 'Ventura',
 'Yolo',
 'Yuba',
 'Adams',
 'Alamosa',
 'Arapahoe',
 'Archuleta',
 'Baca',
 'Bent',
 'Boulder',
 'Broomfield',
 'Chaffee',
 'Cheyenne',
 'Clear Creek',
 'Conejos',
 'Costilla',
 'Crowley',
 'Custer',
 'Delta',
 'Denver',
 'Dolores',
 'Douglas',
 'Eagle',
 'Elbert',
 'El Paso',
 'Fremont',
 'Garfield',
 'Gilpin',
 'Grand',
 'Gunnison',
 'Hinsdale',
 'Huerfano',
 'Jackson',
 'Jefferson',
 'Kiowa',
 'Kit Carson',
 'Lake',
 'La Plata',
 'Larimer',
 'Las Animas',
 'Lincoln',
 'Logan',
 'Mesa',
 'Mineral',
 'Moffat',
 'Montezuma',
 'Montrose',
 'Morgan',
 'Otero',
 'Ouray',
 'Park',
 'Phillips',
 'Pitkin',
 'Prowers',
 'Pueblo',
 'Rio Blanco',
 'Rio Grande',
 'Routt',
 'Saguache',
 'San Juan',
 'San Miguel',
 'Sedgwick',
 'Summit',
 'Teller',
 'Washington',
 'Weld',
 'Yuma',
 'Fairfield',
 'Hartford',
 'Litchfield',
 'Middlesex',
 'New Haven',
 'New London',
 'Tolland',
 'Windham',
 'Kent',
 'New Castle',
 'Sussex',
 'District of',
 'District of',
 'Alachua',
 'Baker',
 'Bay',
 'Bradford',
 'Brevard',
 'Broward',
 'Calhoun',
 'Charlotte',
 'Citrus',
 'Clay',
 'Collier',
 'Columbia',
 'DeSoto',
 'Dixie',
 'Duval',
 'Escambia',
 'Flagler',
 'Franklin',
 'Gadsden',
 'Gilchrist',
 'Glades',
 'Gulf',
 'Hamilton',
 'Hardee',
 'Hendry',
 'Hernando',
 'Highlands',
 'Hillsborough',
 'Holmes',
 'Indian River',
 'Jackson',
 'Jefferson',
 'Lafayette',
 'Lake',
 'Lee',
 'Leon',
 'Levy',
 'Liberty',
 'Madison',
 'Manatee',
 'Marion',
 'Martin',
 'Miami-Dade',
 'Monroe',
 'Nassau',
 'Okaloosa',
 'Okeechobee',
 'Orange',
 'Osceola',
 'Palm Beach',
 'Pasco',
 'Pinellas',
 'Polk',
 'Putnam',
 'St. Johns',
 'St. Lucie',
 'Santa Rosa',
 'Sarasota',
 'Seminole',
 'Sumter',
 'Suwannee',
 'Taylor',
 'Union',
 'Volusia',
 'Wakulla',
 'Walton',
 'Washington',
 'Appling',
 'Atkinson',
 'Bacon',
 'Baker',
 'Baldwin',
 'Banks',
 'Barrow',
 'Bartow',
 'Ben Hill',
 'Berrien',
 'Bibb',
 'Bleckley',
 'Brantley',
 'Brooks',
 'Bryan',
 'Bulloch',
 'Burke',
 'Butts',
 'Calhoun',
 'Camden',
 'Candler',
 'Carroll',
 'Catoosa',
 'Charlton',
 'Chatham',
 'Chattahoochee',
 'Chattooga',
 'Cherokee',
 'Clarke',
 'Clay',
 'Clayton',
 'Clinch',
 'Cobb',
 'Coffee',
 'Colquitt',
 'Columbia',
 'Cook',
 'Coweta',
 'Crawford',
 'Crisp',
 'Dade',
 'Dawson',
 'Decatur',
 'DeKalb',
 'Dodge',
 'Dooly',
 'Dougherty',
 'Douglas',
 'Early',
 'Echols',
 'Effingham',
 'Elbert',
 'Emanuel',
 'Evans',
 'Fannin',
 'Fayette',
 'Floyd',
 'Forsyth',
 'Franklin',
 'Fulton',
 'Gilmer',
 'Glascock',
 'Glynn',
 'Gordon',
 'Grady',
 'Greene',
 'Gwinnett',
 'Habersham',
 'Hall',
 'Hancock',
 'Haralson',
 'Harris',
 'Hart',
 'Heard',
 'Henry',
 'Houston',
 'Irwin',
 'Jackson',
 'Jasper',
 'Jeff Davis',
 'Jefferson',
 'Jenkins',
 'Johnson',
 'Jones',
 'Lamar',
 'Lanier',
 'Laurens',
 'Lee',
 'Liberty',
 'Lincoln',
 'Long',
 'Lowndes',
 'Lumpkin',
 'McDuffie',
 'McIntosh',
 'Macon',
 'Madison',
 'Marion',
 'Meriwether',
 'Miller',
 'Mitchell',
 'Monroe',
 'Montgomery',
 'Morgan',
 'Murray',
 'Muscogee',
 'Newton',
 'Oconee',
 'Oglethorpe',
 'Paulding',
 'Peach',
 'Pickens',
 'Pierce',
 'Pike',
 'Polk',
 'Pulaski',
 'Putnam',
 'Quitman',
 'Rabun',
 'Randolph',
 'Richmond',
 'Rockdale',
 'Schley',
 'Screven',
 'Seminole',
 'Spalding',
 'Stephens',
 'Stewart',
 'Sumter',
 'Talbot',
 'Taliaferro',
 'Tattnall',
 'Taylor',
 'Telfair',
 'Terrell',
 'Thomas',
 'Tift',
 'Toombs',
 'Towns',
 'Treutlen',
 'Troup',
 'Turner',
 'Twiggs',
 'Union',
 'Upson',
 'Walker',
 'Walton',
 'Ware',
 'Warren',
 'Washington',
 'Wayne',
 'Webster',
 'Wheeler',
 'White',
 'Whitfield',
 'Wilcox',
 'Wilkes',
 'Wilkinson',
 'Worth',
 'Hawaii',
 'Honolulu',
 'Kauai',
 'Maui',
 'Ada',
 'Adams',
 'Bannock',
 'Bear Lake',
 'Benewah',
 'Bingham',
 'Blaine',
 'Boise',
 'Bonner',
 'Bonneville',
 'Boundary',
 'Butte',
 'Camas',
 'Canyon',
 'Caribou',
 'Cassia',
 'Clark',
 'Clearwater',
 'Custer',
 'Elmore',
 'Franklin',
 'Fremont',
 'Gem',
 'Gooding',
 'Idaho',
 'Jefferson',
 'Jerome',
 'Kootenai',
 'Latah',
 'Lemhi',
 'Lewis',
 'Lincoln',
 'Madison',
 'Minidoka',
 'Nez Perce',
 'Oneida',
 'Owyhee',
 'Payette',
 'Power',
 'Shoshone',
 'Teton',
 'Twin Falls',
 'Valley',
 'Washington',
 'Adams',
 'Alexander',
 'Bond',
 'Boone',
 'Brown',
 'Bureau',
 'Calhoun',
 'Carroll',
 'Cass',
 'Champaign',
 'Christian',
 'Clark',
 'Clay',
 'Clinton',
 'Coles',
 'Cook',
 'Crawford',
 'Cumberland',
 'DeKalb',
 'De Witt',
 'Douglas',
 'DuPage',
 'Edgar',
 'Edwards',
 'Effingham',
 'Fayette',
 'Ford',
 'Franklin',
 'Fulton',
 'Gallatin',
 'Greene',
 'Grundy',
 'Hamilton',
 'Hancock',
 'Hardin',
 'Henderson',
 'Henry',
 'Iroquois',
 'Jackson',
 'Jasper',
 'Jefferson',
 'Jersey',
 'Jo Daviess',
 'Johnson',
 'Kane',
 'Kankakee',
 'Kendall',
 'Knox',
 'Lake',
 'LaSalle',
 'Lawrence',
 'Lee',
 'Livingston',
 'Logan',
 'McDonough',
 'McHenry',
 'McLean',
 'Macon',
 'Macoupin',
 'Madison',
 'Marion',
 'Marshall',
 'Mason',
 'Massac',
 'Menard',
 'Mercer',
 'Monroe',
 'Montgomery',
 'Morgan',
 'Moultrie',
 'Ogle',
 'Peoria',
 'Perry',
 'Piatt',
 'Pike',
 'Pope',
 'Pulaski',
 'Putnam',
 'Randolph',
 'Richland',
 'Rock Island',
 'St. Clair',
 'Saline',
 'Sangamon',
 'Schuyler',
 'Scott',
 'Shelby',
 'Stark',
 'Stephenson',
 'Tazewell',
 'Union',
 'Vermilion',
 'Wabash',
 'Warren',
 'Washington',
 'Wayne',
 'White',
 'Whiteside',
 'Will',
 'Williamson',
 'Winnebago',
 'Woodford',
 'Adams',
 'Allen',
 'Bartholomew',
 'Benton',
 'Blackford',
 'Boone',
 'Brown',
 'Carroll',
 'Cass',
 'Clark',
 'Clay',
 'Clinton',
 'Crawford',
 'Daviess',
 'Dearborn',
 'Decatur',
 'DeKalb',
 'Delaware',
 'Dubois',
 'Elkhart',
 'Fayette',
 'Floyd',
 'Fountain',
 'Franklin',
 'Fulton',
 'Gibson',
 'Grant',
 'Greene',
 'Hamilton',
 'Hancock',
 'Harrison',
 'Hendricks',
 'Henry',
 'Howard',
 'Huntington',
 'Jackson',
 'Jasper',
 'Jay',
 'Jefferson',
 'Jennings',
 'Johnson',
 'Knox',
 'Kosciusko',
 'LaGrange',
 'Lake',
 'LaPorte',
 'Lawrence',
 'Madison',
 'Marion',
 'Marshall',
 'Martin',
 'Miami',
 'Monroe',
 'Montgomery',
 'Morgan',
 'Newton',
 'Noble',
 'Ohio',
 'Orange',
 'Owen',
 'Parke',
 'Perry',
 'Pike',
 'Porter',
 'Posey',
 'Pulaski',
 'Putnam',
 'Randolph',
 'Ripley',
 'Rush',
 'St. Joseph',
 'Scott',
 'Shelby',
 'Spencer',
 'Starke',
 'Steuben',
 'Sullivan',
 'Switzerland',
 'Tippecanoe',
 'Tipton',
 'Union',
 'Vanderburgh',
 'Vermillion',
 'Vigo',
 'Wabash',
 'Warren',
 'Warrick',
 'Washington',
 'Wayne',
 'Wells',
 'White',
 'Whitley',
 'Adair',
 'Adams',
 'Allamakee',
 'Appanoose',
 'Audubon',
 'Benton',
 'Black Hawk',
 'Boone',
 'Bremer',
 'Buchanan',
 'Buena Vista',
 'Butler',
 'Calhoun',
 'Carroll',
 'Cass',
 'Cedar',
 'Cerro Gordo',
 'Cherokee',
 'Chickasaw',
 'Clarke',
 'Clay',
 'Clayton',
 'Clinton',
 'Crawford',
 'Dallas',
 'Davis',
 'Decatur',
 'Delaware',
 'Des Moines',
 'Dickinson',
 'Dubuque',
 'Emmet',
 'Fayette',
 'Floyd',
 'Franklin',
 'Fremont',
 'Greene',
 'Grundy',
 'Guthrie',
 'Hamilton',
 'Hancock',
 'Hardin',
 'Harrison',
 'Henry',
 'Howard',
 'Humboldt',
 'Ida',
 'Iowa',
 'Jackson',
 'Jasper',
 'Jefferson',
 'Johnson',
 'Jones',
 'Keokuk',
 'Kossuth',
 'Lee',
 'Linn',
 'Louisa',
 'Lucas',
 'Lyon',
 'Madison',
 'Mahaska',
 'Marion',
 'Marshall',
 'Mills',
 'Mitchell',
 'Monona',
 'Monroe',
 'Montgomery',
 'Muscatine',
 "O'Brien",
 'Osceola',
 'Page',
 'Palo Alto',
 'Plymouth',
 'Pocahontas',
 'Polk',
 'Pottawattamie',
 'Poweshiek',
 'Ringgold',
 'Sac',
 'Scott',
 'Shelby',
 'Sioux',
 'Story',
 'Tama',
 'Taylor',
 'Union',
 'Van Buren',
 'Wapello',
 'Warren',
 'Washington',
 'Wayne',
 'Webster',
 'Winnebago',
 'Winneshiek',
 'Woodbury',
 'Worth',
 'Wright',
 'Allen',
 'Anderson',
 'Atchison',
 'Barber',
 'Barton',
 'Bourbon',
 'Brown',
 'Butler',
 'Chase',
 'Chautauqua',
 'Cherokee',
 'Cheyenne',
 'Clark',
 'Clay',
 'Cloud',
 'Coffey',
 'Comanche',
 'Cowley',
 'Crawford',
 'Decatur',
 'Dickinson',
 'Doniphan',
 'Douglas',
 'Edwards',
 'Elk',
 'Ellis',
 'Ellsworth',
 'Finney',
 'Ford',
 'Franklin',
 'Geary',
 'Gove',
 'Graham',
 'Grant',
 'Gray',
 'Greeley',
 'Greenwood',
 'Hamilton',
 'Harper',
 'Harvey',
 'Haskell',
 'Hodgeman',
 'Jackson',
 'Jefferson',
 'Jewell',
 'Johnson',
 'Kearny',
 'Kingman',
 'Kiowa',
 'Labette',
 'Lane',
 'Leavenworth',
 'Lincoln',
 'Linn',
 'Logan',
 'Lyon',
 'McPherson',
 'Marion',
 'Marshall',
 'Meade',
 'Miami',
 'Mitchell',
 'Montgomery',
 'Morris',
 'Morton',
 'Nemaha',
 'Neosho',
 'Ness',
 'Norton',
 'Osage',
 'Osborne',
 'Ottawa',
 'Pawnee',
 'Phillips',
 'Pottawatomie',
 'Pratt',
 'Rawlins',
 'Reno',
 'Republic',
 'Rice',
 'Riley',
 'Rooks',
 'Rush',
 'Russell',
 'Saline',
 'Scott',
 'Sedgwick',
 'Seward',
 'Shawnee',
 'Sheridan',
 'Sherman',
 'Smith',
 'Stafford',
 'Stanton',
 'Stevens',
 'Sumner',
 'Thomas',
 'Trego',
 'Wabaunsee',
 'Wallace',
 'Washington',
 'Wichita',
 'Wilson',
 'Woodson',
 'Wyandotte',
 'Adair',
 'Allen',
 'Anderson',
 'Ballard',
 'Barren',
 'Bath',
 ...]

In [23]:
county_name2 = set([i.split()[-1] for i in county_name])

In [25]:
county_name2

{'Ar',
 'Area',
 'B',
 'Baptist',
 'Bo',
 'Bor',
 'Boro',
 'Borou',
 'Boroug',
 'Borough',
 'Carolina',
 'Censu',
 'Census',
 'City',
 'Co',
 'Columbia',
 'Coun',
 'Count',
 'County',
 'Dakota',
 'Fairbanks',
 'Hampshire',
 'Island',
 'Jersey',
 'Mexico',
 'Municipali',
 'Municipality',
 'Par',
 'Pari',
 'Paris',
 'Parish',
 'Star',
 'Virginia',
 'Wales-Hyde',
 'York',
 'cit',
 'city'}

In [12]:
list = []

for i in processed_irs_files:
    county_name = i[1]['COUNTYNAME'].tolist()
    county_last = [i[-1] for i.split in county_name]
    list.append(county_last)

AttributeError: 'tuple' object has no attribute 'split'

In [ ]:
# def prev_year_change(data1, data2):
#     """
#     This function will substitute the difference between a year and the previous year's IRS records, 
#     Giving us the change-over-year and letting us use that as an indication of economic growth/loss
    
#     NOTE: data1 should be the more recent year, data2 should be the older year.
#     """
    
#     # Create a set containing columns common to both dataframes 
#     # Note for future use, the '&' here only keeps items that intersect both lists
#     col_common = set(data1.columns) & set(data2.columns)
    
#     #merge the dataframes, keeping data1 if the datatype is 'Object' or if the column is not in the set (all columns held in column should appear in the set..)
#     merged = pd.concat([
#         data1[c] if c not in col_common or data1[c].dtype == 'O' else data1[c] - data2[c]
#         for c in data1.columns
#     ], axis=1)
    
#     return merged

In [ ]:
formatted_irs_files = [i[0] for i in processed_irs_files]

In [ ]:
formatted_irs_dataframes = [i[1] for i in processed_irs_files]

In [ ]:
for i in range(0, len(processed_irs_files), 2): # Call every-other item in the processed files list
    
    # Since these are from a list of tuples, we assign the dataframes to these variables, to be passed as arguments 
    arg1 = processed_irs_files[i][1] 
    arg2 = processed_irs_files[i + 1][1] if i + 1 < len(processed_irs_files) else None #if there is an odd number, it should throw an error, IMPLIMENT LATER

    # get the formatted irs file names for each year
    name = f'{processed_irs_files[i][0]}'
    
    # Run the function to subtract one year's data from the previous year's data
    prev_year_change(arg1, arg2) 
    df_diff = prev_year_change(arg1, arg2) # Placeholder variable
    new_df = f'{processed_irs_files[i][0]}_d' # Name of new variable
    
    # Create the directory if it doesn't exist
    os.makedirs(irs_folder_path, exist_ok=True)
    
    # Save the DataFrames as CSV files
    csv_filename_f = f'{name}.csv'
    csv_filename_d = f'{new_df}.csv'
    arg1.to_csv(os.path.join(irs_folder_path, csv_filename_f), index=False) #the 'original' formatted files
    df_diff.to_csv(os.path.join(irs_folder_path, csv_filename_d), index=False) #the file processed by the prev_year_change function

In [ ]:
for i in range(0, len(processed_irs_files), 2): # Call every-other item in the processed files list
    arg1 = processed_irs_files[i][1] # Since these are from a list of tuples, we assign the dataframe to these variables, to be passed as arguments 
    arg2 = processed_irs_files[i + 1][1] if i + 1 < len(processed_irs_files) else None #if there is an odd number, it should throw an error, IMPLIMENT LATER
    prev_year_change(arg1, arg2) # Run the function to subtract one year's data from the previous year's data
    df_diff = prev_year_change(arg1, arg2) # Placeholder variable
    new_df = f'{processed_irs_files[i][0]}_d' # Name of new variable
    
    # Create the directory if it doesn't exist
    os.makedirs(irs_folder_path, exist_ok=True)
    
    # Save the DataFrame as a CSV file
    csv_filename = f'{new_df}.csv'
    df_diff.to_csv(os.path.join(irs_folder_path, csv_filename), index=False)

In [ ]:
irs_county_2012_d = prev_year_change2(filtered_irs_dataframes[0],filtered_irs_dataframes[1])
irs_county_2012_d = irs_county_2012_d[irs_count_2011_f.columns.tolist()]

In [ ]:
irs_county_2014_d = prev_year_change2(filtered_irs_dataframes[2],filtered_irs_dataframes[3])
irs_county_2014_d = irs_county_2014_d[irs_count_2013_f.columns.tolist()]

In [ ]:
irs_county_2016_d = prev_year_change2(filtered_irs_dataframes[4],filtered_irs_dataframes[5])
irs_county_2016_d = irs_county_2016_d[irs_count_2015_f.columns.tolist()]

In [ ]:
irs_county_2018_d = prev_year_change2(filtered_irs_dataframes[6],filtered_irs_dataframes[7])
irs_county_2018_d = irs_county_2018_d[irs_count_2017_f.columns.tolist()]

In [ ]:
irs_county_2020_d = prev_year_change2(filtered_irs_dataframes[8],filtered_irs_dataframes[9])
irs_county_2020_d = irs_county_2020_d[irs_count_2019_f.columns.tolist()]

In [ ]:
irs_county_2016_d

In [ ]:
filtered_irs_files

In [ ]:
# Call the prev_year_chagne with consecutive pairs year data from IRS raw folder 
for i in range(0, len(filtered_irs_dataframes), 2): # Call every-other item in the file list
    arg1 = filtered_irs_dataframes[i]
    arg2 = filtered_irs_dataframes[i + 1] if i + 1 < len(filtered_irs_dataframes) else None #if there is an odd number, it should throw an error, IMPLIMENT LATER
    prev_year_change2(arg1, arg2) # Run the function to subtract one year's data from the previous year's data
    df_diff = prev_year_change(arg1, arg2) # Placeholder variable
    new_df = f'{arg1}_d' #name of new variable
    globals()[new_df] = df_diff

In [ ]:
irs_2012 = pd.read_csv(r'data/irs_data/raw/irs_count_2012.csv', encoding='latin-1')
irs_2011 = pd.read_csv(r'data/irs_data/raw/irs_count_2011.csv', encoding='latin-1')

In [ ]:
irs_2011 = irs_2011.drop(['STATEFIPS','AGI_STUB','COUNTYFIPS'],axis=1).reset_index(drop=True)
irs_2012 = irs_2012.drop(['STATEFIPS','AGI_STUB','COUNTYFIPS'],axis=1).reset_index(drop=True)

In [ ]:
irs_2011_f = irs_2011[irs_2011.apply(filter_counties, axis=1)]
irs_2012_f = irs_2012[irs_2012.apply(filter_counties, axis=1)]

In [ ]:
irs_2012_f

In [ ]:
col_order = irs_2011_f.columns.tolist()

In [ ]:
df_diff = prev_year_change(irs_2012_f, irs_2011_f)

In [ ]:
df_diff = df_diff[col_order]

In [ ]:
df_diff

In [ ]:
# for i in irs_raw_files: # Call item in the file list
#     file = pd.read_csv('{irs_raw_folder_path}/{i}', encoding='latin-1')
#     file = file.drop(['STATEFIPS','AGI_STUB','COUNTYFIPS'],axis=1).reset_index(drop=True)
#     filter_counties = lambda row: len(row['COUNTYNAME'].split()) >=2
#     data_counties = file[file.apply(filter_counties, axis=1)]
#     name = f'{i}'
#     name = name[:-3]+'_f'
#     globals()[name] = data_counties

In [ ]:
# for i in range(0, len(irs_raw_files), 2): # Call every-other item in the file list
#     arg1 = irs_raw_files[i]
#     arg2 = irs_raw_files[i + 1] if i + 1 < len(irs_raw_files) else None #if there is an odd number, it should throw an error, IMPLIMENT LATER
#     prev_year_change(arg1, arg2) # Run the function to subtract one year's data from the previous year's data
#     df_diff = prev_year_change(arg1, arg2) # Placeholder variable
#     new_df = f'{arg1}_d' #name of new variable
#     globals()[new_df] = df_diff # from the documentation: 'the globals() function is a built-in function that returns a dictionary representing the current global symbol table' only half understand this, but it works (#programming)

In [ ]:
irs_2012.columns

In [ ]:
il_irs_2012 = irs_2012.loc[irs_2012['STATE']=='IL'].copy()

In [ ]:
len(il_irs_2012)

In [ ]:
# il_irs_2012['COUNTYNAME'] = remove_keyword(il_irs_2012['COUNTYNAME'],'County')

In [ ]:
il_irs_2012 = il_irs_2012.drop(['STATEFIPS','AGI_STUB','COUNTYFIPS'],axis=1).reset_index(drop=True)

In [ ]:
il_irs_2012

In [ ]:
filter_counties = lambda row: len(row['COUNTYNAME'].split()) >=2

In [ ]:
data_counties = irs_2012[irs_2012.apply(filter_counties, axis=1)]

In [ ]:
data_counties

In [ ]:
irs_2012

In [ ]:
irs_2012['STATE'].unique()

In [ ]:
data_counties['STATE'].unique()

In [ ]:
# merge dfs, get col = col-col where they match

# Sample dataframes
data1 = {'ID': [1, 2, 3], 'Value': [10, 20, 30]}
data2 = {'ID': [1, 2, 3], 'Value': [5, 10, 15]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge dataframes on the 'ID' column
merged_df = pd.merge(df1, df2, on='ID', suffixes=('_df1', '_df2'))

# Calculate the difference for matching columns
for column in df1.columns.intersection(df2.columns):
    merged_df[column] = merged_df[f'{column}_df1'] - merged_df[f'{column}_df2']

# Drop the redundant columns
merged_df = merged_df.drop(columns=['Value_df1', 'Value_df2'])

print(merged_df)

In [ ]:
irs_raw_files

In [ ]:
irs_raw_files = irs_raw_files[::-1]

In [ ]:
# def prev_year_change(data1, data2):
#     """
#     This function will substitute the difference between a year and the previous year's IRS records, 
#     Giving us the change-over-year and letting us use that as an indication of economic growth/loss
    
#     NOTE: data1 should be the more recent year, data2 should be the older year.
#     """
    
#     #merge the dataframes, for columns with common names add a suffix to denote the source
#     data_diff = pd.merge(data1, data2, on='COUNTYNAME', suffixes=('_data1','_data2'))
#     common_col = set(data1.columns) & set(data2.columns)
#     for c in common_col:
#         if data1[c].dtype == data2[c].dtype and pd.api.types.is_numeric_dtype(data1[c]): # Lucky me there's such as thing as this 'types.is_numeric_dtype'...
#             data_diff = data_diff[f'{c}_data1']-data_diff[f'{c}_data2']
#     data_diff = data_diff.drop(columns=[c + '_data1' for c in common_columns] + [c + '_data2' for c in common_columns], inplace=True)
#     return data_diff

In [ ]:
# def your_function(arg1, arg2):
#     # Your function logic here
#     print(f"Function called with arguments: {arg1}, {arg2}")

# # Example list of filenames
# filenames = ['file1.txt', 'file2.txt', 'file3.txt', 'file4.txt', 'file5.txt']

In [ ]:
prev_year_change()