In [1]:
import numpy as np
import pandas as pd

In [3]:
tax_2010_path = 'data/irs_data/IRS County 2010.xls'
tax_2010 = pd.ExcelFile(tax_2010_path)
sheet_names = tax_2010.sheet_names

In [4]:
df = pd.read_excel(tax_2010_path, sheet_name='Sheet1', header=1)

In [5]:
df.head()

,"Individual Income Tax Returns: \nSelected Income and Tax Items by State, \nand County, Tax Year 2010",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72
0,[Money amounts are in thousands of dollars],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,State\nFIPS \ncode [1],State,County \nFIPS \ncode [1],County name,Number of returns,Number of joint returns,Number with paid preparer's signature,Number of exemptions,Number of dependents,Adjusted gross income (AGI) [2],...,Alternative minimum tax,NaN,Income tax [7],NaN,Total tax liability [8],NaN,Tax due at time of filing [9],NaN,Overpayments refunded [10],NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount
3,NaN,NaN,NaN,NaN,-1,-2,-3,-4,-5,-6,...,-60,-61,-62,-63,-64,-65,-66,-67,-68,-69
4,0,US,0,Total [11],142847788,53263498,80899174,287384599,90844951,8035953597,...,4037318,27362170,93384728,994606879,102585410,1046394030,23660898,99651232,113613241,379783973

In [7]:
data_irs_2012 = pd.read_csv(r'data/irs_data/irs_count_2012.csv',encoding='latin-1')

In [11]:
data_irs_2012.describe()

,STATEFIPS,COUNTYFIPS,AGI_STUB,N1,MARS1,MARS2,MARS4,PREP,N2,NUMDEP,...,N11070,A11070,N06500,A06500,N10300,A10300,N11901,A11901,N11902,A11902
count,3193.000000,3193.000000,3193.0,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,...,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03
mean,30.270279,102.116818,0.0,9.037388e+04,4.163534e+04,3.345766e+04,1.357752e+04,5.052461e+04,1.792611e+05,6.105797e+04,...,1.272970e+04,1.704887e+04,6.009026e+04,7.416876e+05,6.578171e+04,7.761823e+05,1.557211e+04,7.829278e+04,6.974959e+04,1.966131e+05
std,15.155933,107.897455,0.0,5.485443e+05,2.559781e+05,1.975137e+05,8.743620e+04,3.216625e+05,1.104286e+06,3.921778e+05,...,8.396160e+04,1.141287e+05,3.597241e+05,5.020712e+06,3.982788e+05,5.245310e+06,9.874115e+04,5.135377e+05,4.192355e+05,1.226332e+06
min,1.000000,0.000000,0.0,4.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+01,8.000000e+01,3.000000e+01,...,0.000000e+00,0.000000e+00,2.000000e+01,1.610000e+02,3.000000e+01,1.710000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,18.000000,33.000000,0.0,4.700000e+03,1.880000e+03,2.050000e+03,6.000000e+02,3.050000e+03,9.670000e+03,3.130000e+03,...,7.000000e+02,9.040000e+02,2.900000e+03,1.947200e+04,3.250000e+03,2.128300e+04,7.900000e+02,3.469000e+03,3.540000e+03,9.816000e+03
50%,29.000000,77.000000,0.0,1.119000e+04,4.580000e+03,4.780000e+03,1.590000e+03,7.010000e+03,2.310000e+04,7.640000e+03,...,1.740000e+03,2.239000e+03,7.070000e+03,5.090300e+04,7.760000e+03,5.508000e+04,1.780000e+03,8.455000e+03,8.770000e+03,2.376300e+04
75%,45.000000,133.000000,0.0,3.150000e+04,1.357000e+04,1.300000e+04,4.380000e+03,1.746000e+04,6.342000e+04,2.086000e+04,...,4.390000e+03,5.815000e+03,2.079000e+04,1.734400e+05,2.262000e+04,1.833730e+05,4.920000e+03,2.239400e+04,2.504000e+04,6.563300e+04
max,56.000000,840.000000,0.0,1.690603e+07,7.950890e+06,6.135230e+06,2.592040e+06,1.081055e+07,3.562406e+07,1.336639e+07,...,2.703100e+06,3.773849e+06,1.100110e+07,1.629250e+08,1.227576e+07,1.706331e+08,3.502340e+06,1.804566e+07,1.233190e+07,3.576271e+07

In [5]:
data_irs_2014 = pd.read_csv(r'data/irs_data/irs_count_2014.csv',encoding='latin-1')
data_irs_2016 = pd.read_csv(r'data/irs_data/irs_count_2016.csv',encoding='latin-1')
data_irs_2018 = pd.read_csv(r'data/irs_data/irs_count_2018.csv',encoding='latin-1')
data_irs_2020 = pd.read_csv(r'data/irs_data/irs_count_2020.csv',encoding='latin-1')

In [12]:
data_irs_2014.describe()

,STATEFIPS,COUNTYFIPS,AGI_STUB,N1,MARS1,MARS2,MARS4,PREP,N2,NUMDEP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
count,3192.000000,3192.000000,3192.0,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,...,3.192000e+03,3.192000e+03,3192.000000,3.192000e+03,3192.000000,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03
mean,30.263784,101.948935,0.0,9.213192e+04,4.311881e+04,3.360547e+04,1.360760e+04,5.033366e+04,1.800856e+05,6.007572e+04,...,6.916421e+04,9.029104e+05,1931.488095,4.258046e+03,2210.773810,1.368229e+04,1.780644e+04,9.776854e+04,6.947925e+04,2.114336e+05
std,15.153863,107.629768,0.0,5.614940e+05,2.663945e+05,1.994263e+05,8.742237e+04,3.236854e+05,1.112215e+06,3.859759e+05,...,4.220278e+05,6.232026e+06,14503.950108,3.561232e+04,15973.572957,1.185495e+05,1.126190e+05,6.763900e+05,4.197732e+05,1.348734e+06
min,1.000000,0.000000,0.0,3.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+01,7.000000e+01,2.000000e+01,...,2.000000e+01,4.740000e+02,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,18.000000,33.000000,0.0,4.687500e+03,1.900000e+03,2.010000e+03,6.075000e+02,2.930000e+03,9.457500e+03,3.077500e+03,...,3.380000e+03,2.331525e+04,0.000000,0.000000e+00,40.000000,9.400000e+01,8.600000e+02,3.919000e+03,3.455000e+03,9.769000e+03
50%,29.000000,77.000000,0.0,1.134000e+04,4.630000e+03,4.740000e+03,1.590000e+03,6.730000e+03,2.292000e+04,7.470000e+03,...,8.095000e+03,5.984400e+04,60.000000,7.200000e+01,110.000000,3.535000e+02,1.970000e+03,9.152000e+03,8.655000e+03,2.381850e+04
75%,45.000000,133.000000,0.0,3.178750e+04,1.400250e+04,1.303000e+04,4.387500e+03,1.706000e+04,6.296750e+04,2.031000e+04,...,2.347750e+04,2.065788e+05,260.000000,3.987500e+02,400.000000,1.580500e+03,5.595000e+03,2.615225e+04,2.474250e+04,6.671625e+04
max,56.000000,840.000000,0.0,1.741012e+07,8.344440e+06,6.240790e+06,2.584240e+06,1.100108e+07,3.588103e+07,1.307190e+07,...,1.314450e+07,2.051064e+08,527030.000000,1.223943e+06,575810.000000,3.853780e+06,3.958780e+06,2.498790e+07,1.244042e+07,3.961615e+07

In [13]:
data_irs_2016.describe()

,STATEFIPS,COUNTYFIPS,AGI_STUB,N1,MARS1,MARS2,MARS4,PREP,N2,NUMDEP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
count,3192.000000,3192.000000,3192.0,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,...,3.192000e+03,3.192000e+03,3192.000000,3.192000e+03,3192.000000,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03
mean,30.263784,101.948935,0.0,9.340985e+04,4.436169e+04,3.374771e+04,1.342547e+04,4.996488e+04,1.801045e+05,5.877288e+04,...,7.080171e+04,9.514086e+05,2284.924812,4.792496e+03,2404.301378,1.173713e+04,1.785552e+04,9.618706e+04,7.063502e+04,2.219337e+05
std,15.153863,107.629768,0.0,5.704226e+05,2.750194e+05,2.005704e+05,8.609472e+04,3.227115e+05,1.112049e+06,3.763101e+05,...,4.340518e+05,6.544052e+06,17345.314322,3.997092e+04,17637.746399,1.015903e+05,1.141873e+05,6.576699e+05,4.269914e+05,1.422922e+06
min,1.000000,0.000000,0.0,4.000000e+01,2.000000e+01,0.000000e+00,0.000000e+00,4.000000e+01,8.000000e+01,2.000000e+01,...,3.000000e+01,3.420000e+02,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+01,5.900000e+01
25%,18.000000,33.000000,0.0,4.630000e+03,1.870000e+03,1.967500e+03,6.100000e+02,2.820000e+03,9.415000e+03,3.010000e+03,...,3.330000e+03,2.203125e+04,0.000000,0.000000e+00,30.000000,7.000000e+01,8.100000e+02,3.310250e+03,3.480000e+03,9.982250e+03
50%,29.000000,77.000000,0.0,1.144000e+04,4.725000e+03,4.670000e+03,1.570000e+03,6.560000e+03,2.280500e+04,7.220000e+03,...,8.140000e+03,6.005600e+04,60.000000,7.700000e+01,100.000000,2.855000e+02,1.910000e+03,8.046500e+03,8.715000e+03,2.448850e+04
75%,45.000000,133.000000,0.0,3.193000e+04,1.421750e+04,1.297000e+04,4.312500e+03,1.653250e+04,6.273250e+04,1.975250e+04,...,2.358250e+04,2.109188e+05,292.500000,4.432500e+02,400.000000,1.343500e+03,5.602500e+03,2.413225e+04,2.480750e+04,6.898000e+04
max,56.000000,840.000000,0.0,1.781612e+07,8.729140e+06,6.292060e+06,2.536910e+06,1.105509e+07,3.585600e+07,1.263416e+07,...,1.376296e+07,2.275134e+08,657350.000000,1.450210e+06,668170.000000,3.823049e+06,4.098890e+06,2.478675e+07,1.268481e+07,4.360415e+07

In [14]:
data_irs_2018.describe()

,STATEFIPS,COUNTYFIPS,AGI_STUB,N1,MARS1,MARS2,MARS4,ELF,CPREP,PREP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
count,3192.000000,3192.000000,3192.0,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,...,3192.000000,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,3.192000e+03,3192.000000,3.192000e+03
mean,30.263784,101.948935,0.0,9.563296e+04,4.603433e+04,3.417937e+04,1.339268e+04,8.584095e+04,5.414702e+03,5.049793e+04,...,3122.879073,1.835825e+04,2.005974e+04,1.117427e+05,7.249716e+04,2.641248e+05,7.046177e+04,2.053172e+05,2608.255013,5.812491e+04
std,15.153863,107.629768,0.0,5.852795e+05,2.859995e+05,2.037314e+05,8.578128e+04,5.229993e+05,3.658436e+04,3.270951e+05,...,22985.295954,1.569396e+05,1.305604e+05,8.025024e+05,4.380035e+05,1.716707e+06,4.250509e+05,1.279068e+06,16665.533505,4.595539e+05
min,1.000000,0.000000,0.0,5.000000e+01,2.000000e+01,2.000000e+01,0.000000e+00,5.000000e+01,0.000000e+00,4.000000e+01,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+01,9.600000e+01,3.000000e+01,8.600000e+01,0.000000,0.000000e+00
25%,18.000000,33.000000,0.0,4.647500e+03,1.927500e+03,1.940000e+03,5.900000e+02,4.260000e+03,1.900000e+02,2.797500e+03,...,40.000000,1.000000e+02,8.000000e+02,3.172000e+03,3.615000e+03,1.098775e+04,3.480000e+03,1.015700e+04,100.000000,5.240000e+02
50%,29.000000,77.000000,0.0,1.159000e+04,4.920000e+03,4.680000e+03,1.560000e+03,1.056500e+04,5.000000e+02,6.480000e+03,...,130.000000,4.275000e+02,1.970000e+03,7.929000e+03,9.005000e+03,2.719300e+04,8.790000e+03,2.469050e+04,270.000000,2.046500e+03
75%,45.000000,133.000000,0.0,3.264750e+04,1.476750e+04,1.297000e+04,4.340000e+03,2.965500e+04,1.590000e+03,1.644750e+04,...,530.000000,2.039750e+03,5.962500e+03,2.520625e+04,2.535750e+04,7.998200e+04,2.467750e+04,6.984900e+04,820.000000,8.655750e+03
max,56.000000,840.000000,0.0,1.817459e+07,9.053270e+06,6.330260e+06,2.508150e+06,1.615476e+07,1.216430e+06,1.111114e+07,...,877060.000000,5.606959e+06,4.748150e+06,3.085997e+07,1.283194e+07,5.120158e+07,1.236543e+07,3.641849e+07,574000.000000,1.473586e+07

In [15]:
data_irs_2020.describe()

,STATEFIPS,COUNTYFIPS,AGI_STUB,N1,MARS1,MARS2,MARS4,ELF,CPREP,PREP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
count,3193.000000,3193.000000,3193.0,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3193.000000,3.193000e+03,...,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3193.000000,3.193000e+03
mean,30.254933,101.875666,0.0,1.022036e+05,5.212434e+04,3.438058e+04,1.326685e+04,9.427076e+04,3138.762919,5.340697e+04,...,3.488422e+03,2.152646e+04,2.046244e+04,1.348127e+05,7.795009e+04,2.900197e+05,7.590498e+04,2.324874e+05,2722.054494,5.647501e+04
std,15.159743,107.580144,0.0,6.274921e+05,3.254716e+05,2.050055e+05,8.463639e+04,5.769148e+05,22322.160883,3.477058e+05,...,2.575755e+04,1.858828e+05,1.354925e+05,9.763991e+05,4.712311e+05,1.873918e+06,4.582613e+05,1.442643e+06,17372.661662,4.458312e+05
min,1.000000,0.000000,0.0,4.000000e+01,2.000000e+01,0.000000e+00,0.000000e+00,4.000000e+01,0.000000,3.000000e+01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+01,2.100000e+02,2.000000e+01,7.200000e+01,0.000000,0.000000e+00
25%,18.000000,33.000000,0.0,5.090000e+03,2.290000e+03,1.940000e+03,6.000000e+02,4.690000e+03,110.000000,2.900000e+03,...,5.000000e+01,1.220000e+02,8.200000e+02,3.698000e+03,3.980000e+03,1.233900e+04,3.860000e+03,1.141700e+04,100.000000,4.600000e+02
50%,29.000000,77.000000,0.0,1.253000e+04,5.780000e+03,4.710000e+03,1.540000e+03,1.164000e+04,300.000000,6.840000e+03,...,1.500000e+02,4.700000e+02,2.020000e+03,9.313000e+03,9.780000e+03,3.054700e+04,9.590000e+03,2.827500e+04,270.000000,1.848000e+03
75%,45.000000,133.000000,0.0,3.513000e+04,1.704000e+04,1.305000e+04,4.420000e+03,3.273000e+04,940.000000,1.737000e+04,...,5.900000e+02,2.172000e+03,6.020000e+03,2.992500e+04,2.755000e+04,8.931300e+04,2.708000e+04,7.944800e+04,840.000000,8.389000e+03
max,56.000000,840.000000,0.0,1.955593e+07,1.039890e+07,6.332830e+06,2.475260e+06,1.792132e+07,743030.000000,1.187687e+07,...,1.004550e+06,6.825699e+06,5.052310e+06,3.775429e+07,1.374008e+07,5.510978e+07,1.326972e+07,4.069765e+07,598150.000000,1.440185e+07

In [17]:
from docx import Document

In [18]:
def read_table_from_docx(docx_path):
    doc = Document(docx_path)
    tables = doc.tables

    data = {'Column1': [], 'Column2': [], 'Column3': []}  # Adjust column names accordingly

    for table in tables:
        for row in table.rows:
            columns = row.cells
            data['Column1'].append(columns[0].text)
            data['Column2'].append(columns[1].text)
            data['Column3'].append(columns[2].text)

    df = pd.DataFrame(data)
    return df

In [19]:
irs_table = r'data/irs_data/2020 irs table.docx'
df = read_table_from_docx(irs_table)

In [20]:
df

,Column1,Column2,Column3
0,,VARIABLE NAME,VARIABLE NAME
1,,STATEFIPS,STATEFIPS
2,,STATE,STATE
3,,CBSACODE,CBSACODE
4,,CBSATITLE,CBSATITLE
...,...,...,...
172,A11900,A11900,Total overpayments amount
173,N11902,N11902,Number of returns with overpayments refunded
174,A11902,A11902,Overpayments refunded amount [23]
175,N12000,N12000,Number of returns with credit to next year’s e...
176,A12000,A12000,Credited to next year’s estimated tax amount

In [21]:
data_irs_2020.head()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,AGI_STUB,N1,MARS1,MARS2,MARS4,ELF,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
0,1,AL,0,Alabama,0,2246600.0,1046200.0,763650.0,384290.0,2076330.0,...,44390.0,184508.0,410620.0,2212558.0,1759980.0,6006976.0,1726510.0,5380257.0,43260.0,605766.0
1,1,AL,1,Autauga County,0,26320.0,11410.0,10130.0,4100.0,24310.0,...,290.0,604.0,5020.0,19136.0,20570.0,64502.0,20310.0,60927.0,340.0,3181.0
2,1,AL,3,Baldwin County,0,112470.0,49740.0,46300.0,13310.0,102570.0,...,3070.0,10401.0,24830.0,157074.0,82860.0,293170.0,79960.0,247067.0,3810.0,45965.0
3,1,AL,5,Barbour County,0,10760.0,5490.0,2790.0,2270.0,9340.0,...,100.0,273.0,1480.0,6578.0,8510.0,27152.0,8410.0,26521.0,140.0,529.0
4,1,AL,7,Bibb County,0,9330.0,4440.0,3170.0,1550.0,8180.0,...,50.0,124.0,1310.0,3650.0,7620.0,23846.0,7560.0,22534.0,90.0,1194.0

In [22]:
OH_IRS_2020 = data_irs_2020.loc[data_irs_2020['STATE']=='OH']

In [23]:
OH_IRS_2020

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,AGI_STUB,N1,MARS1,MARS2,MARS4,ELF,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
2078,39,OH,0,Ohio,0,5897240.0,2945500.0,1864230.0,704260.0,5502310.0,...,140730.0,529813.0,1015530.0,5107216.0,4684190.0,14847762.0,4576350.0,12748695.0,145140.0,2065087.0
2079,39,OH,1,Adams County,0,11960.0,5330.0,4530.0,1370.0,11420.0,...,70.0,95.0,1590.0,4907.0,9930.0,30478.0,9830.0,28981.0,170.0,1463.0
2080,39,OH,3,Allen County,0,50350.0,24630.0,15730.0,6650.0,46850.0,...,700.0,2644.0,7010.0,34519.0,41710.0,125012.0,40980.0,115507.0,1050.0,9477.0
2081,39,OH,5,Ashland County,0,25640.0,11960.0,9540.0,2170.0,23940.0,...,280.0,530.0,3980.0,17701.0,20480.0,54229.0,20090.0,50725.0,600.0,2904.0
2082,39,OH,7,Ashtabula County,0,47350.0,23190.0,15340.0,6090.0,44040.0,...,330.0,1166.0,6380.0,18865.0,38710.0,107426.0,38160.0,101645.0,780.0,5733.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2162,39,OH,167,Washington County,0,29330.0,13740.0,11060.0,2880.0,27680.0,...,380.0,967.0,4080.0,14995.0,24240.0,73012.0,23730.0,65407.0,730.0,7457.0
2163,39,OH,169,Wayne County,0,55620.0,25630.0,21980.0,4210.0,52510.0,...,830.0,6415.0,9620.0,62208.0,43490.0,123795.0,42240.0,109662.0,1720.0,13969.0
2164,39,OH,171,Williams County,0,18760.0,8750.0,6530.0,2020.0,17620.0,...,200.0,535.0,2740.0,9160.0,15350.0,42970.0,15070.0,40395.0,390.0,2585.0
2165,39,OH,173,Wood County,0,64310.0,31250.0,22660.0,5640.0,60420.0,...,1560.0,3991.0,11440.0,54148.0,50890.0,152780.0,49490.0,133500.0,1900.0,19127.0
2166,39,OH,175,Wyandot County,0,11350.0,5160.0,4010.0,1110.0,10890.0,...,120.0,325.0,1750.0,7100.0,9170.0,25179.0,8940.0,23802.0,320.0,1366.0